 body {
  background-color: #fff9ef;
  font-family: Source Sans Pro, sans-serif;
}

/*  Overall color palette, inspired by william morris:
  dark blue = #151540
    shades of #2a2a7f, #5454ff, #4b4be5
  orangy-red = #7f1f0e
    shades of #ff3e1c, #401007, #e53819
  lighter orangy-red = #e58e81
  neutral background(cream) = fff9ef
  olive green = #284015
    shades of #9fff7a, #457f3d, #8fe56f, #507f3e
  */

.nav {
  background-color: #151540;
  color: #e58e81;
  font-size: 30px;
  text-align: right;
  height: 50px;
}

.nav-link {
  text-decoration: none;
  color: #e58e81;
  padding: 5px;
}

.foot {
  border-top: 2px solid #151540;
}

.foot-link {
  font-size: 25px;
  color: #151540;
  text-decoration: none;
}