<div class="about-me">
  <div class="row">
    <img alt="headshot" class="headshot" src="images/HConklin_br_20140903.jpg">
    <div class="col s9">
      <h1 class="name">Heather Conklin</h1>
      <h2 class="description">Web developer: Ruby, Ruby on Rails, JavaScript, jQuery, HTML, CSS, React.js</h2>
      <p class="summary">
      I am a web-stack developer who enjoys figuring out the most efficient way to solve problems, analyze data and present information. After nearly 20 years in the financial industry, I decided to focus my talents on the area I am most passionate about: building things that improve people's lives. I've always been a maker and now, as a developer, I create virtual objects that inform, engage and empower others.
    </p>
    </div>
  </div>
 </div>