header {
	height: 100px;
	border-bottom: 3px #284015 solid;
	text-align: center;
}

.blog-left {
	height: 600px;
	float: left;
	width: 60%;
	padding: 10px 25px 0px 20px;
	border-right: 3px #284015 double;
	overflow: scroll;
}

.blog-left h2 {
	font-size: 32px;
	color: #151540;
	font-weight: bold;
}

.blog-left h3 {
	font-size: 24px;
	color: #151540;
	font-style: italic;
}

.blog-left h4 {
	font-size: 18px;
	color: #151540;
	font-weight: bold;
}

.blog-right {
	height: 600px;
	float:right;
	width: 30%;
	padding: 10px 20px 0px 10px;
	overflow: scroll;
	text-align: left;
}

.blog-right h2 {
	font-size: 24px;
	font-style: italic;
	color: #151540;
}

.blog-right a {
	text-decoration: none;
	color: #151540;
	font-size: 18px;
}

body {
	padding: 10px;
}

main h1 {
	font-size: 32px;
	color: #151540;
	font-weight: bold;
}

main h2 {
font-size: 24px;
	color: #151540;
	font-style: italic;
}

main h3 {
	font-size: 18px;
	color: #151540;
	font-weight: bold;
}

.blog-post {
	width: 85%;
}

.archive-list {
	height: 500px;
}

code {
	background-color: #284015;
	color: #e58e81;
	font-style: bold;
	display: block;
	padding-right: 30px;
	font-family: Arial;
}

table {
	padding-right: 20px;
}