header {
	height: 100px;
	border-bottom: 3px #436d7f solid;
}

.blog-left {
	height: 600px;
	float: left;
	width: 60%;
	padding: 10px 25px 0px 20px;
	border-right: 3px #436d7f double;
	overflow: scroll;
}

.blog-left h2 {
	font-size: 32px;
	color: #3c5b7f;
	font-weight: bold;
}

.blog-left h3 {
	font-size: 24px;
	color: #3c5b7f;
	font-style: italic;
}

.blog-left h4 {
	font-size: 18px;
	color: #3c5b7f;
	font-weight: bold;
}

.blog-right {
	height: 600px;
	float:right;
	width: 30%;
	padding: 10px 20px 0px 10px;
	overflow: scroll;
	text-align: left;
}

.blog-right h2 {
	font-size: 24px;
	font-style: italic;
	color: #3c5b7f;
}

.blog-right a {
	text-decoration: none;
	color: #3c5b7f;
	font-size: 18px;
}

body {
	padding: 10px;
}

main h1 {
	font-size: 32px;
	color: #436d7f;
	font-weight: bold;
}

main h2 {
font-size: 24px;
	color: #436d7f;
	font-style: italic;
}

main h3 {
	font-size: 18px;
	color: #436d7f;
	font-weight: bold;
}

.blog-post {
	width: 85%;
}

.archive-list {
	height: 500px;
}

.code_snippet {
	color: maroon;
	font-style: bold;
	display: block;
	padding: 5px 30px;
	font-family: Arial;
}
