 
* {
/*	set background-color to one of the ones on the mood board (went with the fourth set of colors on the mood board)
	set default font to one of the ones on the mood board (are none of these fonts available in my browser?!?)
	*/
	background-color: #fff9ef;
	font-family: Source Sans Pro, sans-serif;
}

/*	set links in table (top of page) so they sit side-by-side
	collectively take up the width of the page
	have a different background color than the rest of the page
	change color and/or size when hovered over
	*/
.links-banner {
	width: 100%;
	color: #68aaff;
	padding: 4px;
	background-color: #35557f;
	text-align: right;
}

.banner-element {
	background-color: #35557f;
	color: #68aaff;
	font-size: 30px;
	padding-right: 25px;
}

.banner-background {
	background-color: #35557f;
}

td {
	background-color: #35557f;
}

td > a {
	color: #68aaff;
	background-color: #35557f;
}

a { 
	text-decoration: none;
	color: #35557f;
}

a.hover {
	color: red;
}

header {
	height: 350px;
	margin-top: 20px;
/*	Setting a bottom margin here seemed less than ideal, I think because the image was longer than the margin I set.
	It seemed to make more sense to set a top padding on the section below. Since that section will "clear" both 
	the headshot and the text next to the image, its padding will gurantee good spacing.*/
}
.left-header {
/* 	move picture on home page to left side
	float(?) next to name & some text
	resize picture 
	affects index.html, not blog/index.html */
	float: left;
	width: 225px;
	height: 337px;
/*	according to Duckett's book, I should resize this image to 225px x 337px rather than forcing it into the shape I
	want. I will go back & do that if I have time this week. Otherwise, will leave it for a future version */
	margin: 0px 20px 0px 20px;
	}

.right-header {
/* 	move text on home page to right side
	float next to picture 
	affects index.html, not blog/index.html */
	float: right;
	width: 85%;
	text-align: left;
}

h1 sup {
	font-size: .5em;
}

header h2 {
	color: #35557f;
	font-style: italic;
}

.lower-page {
	clear: both;
	/*affects home page: moves stuff below headshot & name*/
	margin: 10px 0px 10px 0px;
	padding: 20px;
	border-top: 3px #436d7f solid;
	border-bottom: 3px #436d7f solid;
}

.subheading {
/*	set up smaller font size for tags in subsections
	affects index.html
*/
	font-size: 1em;
}

.my-work {
/* 	sets the common styles for the portfolio and blog post divs in the bottom half of the home page
	since most of these elements are the same for both, it seemed more efficient to have one class that applied
	to both rather than defining all the same things in the .left and .right classes, which really only need to
	put things in the right spot */
	background-color: #bfc5cc;
	border: 2px #436d7f solid;
	width: 45%;
	display: inline-block;
	padding: 10px;
	overflow: scroll;
	height: 400px;
	margin: 20px;
}
.left {
	float: left;
}

.right {
	float: right;
}

.bg-color {
	background-color: #bfc5cc;
	color: ;
/* 	There has GOT to be a better way to get this color inherited throughout these divs! I don't know how yet
	and I don't have time to go find out so, for now, I'm throwing this class around like confetti.
	*/
}

.foot {
	clear: both;
	border-top: 3px #436d7f solid;
	text-align: center;
	/*background-color: #35557f;*/
}

.ital {
	font-style: italic;
}

.bold {
	font-weight: bold;
}