<div class="blog">
  
  <div class="div-height">
    <img class="right-img" alt="picture with margins, borders & padding" src="../../public/images/margins-and-padding.jpg">
      
    <p>
       Here is an image of the pictures on my living room wall. When you look at this, you'll notice the green wall between the pictures (that's the margin), the brown wood of the frames (the border) and the cream-colored mat between the picture and the frame (that's padding). 
    </p>
      
    <p>
       This is the easiest way I can think about these elements, <span class="bold">margins, padding and borders.</span> It's lucky for me that I've been an amateur photographer for decades so I not only took these pictures, I choose their mats and frames and hung them on the wall myself. So the idea setting up elements on a webpage in a way that is easier to read has this great visual analogy ten feet away from where I'm typing this.
    </p>

     <p>
       <span class="bold">Margins</span> set the space around the <span class="ital">outside</span> of an element.
    </p>

    <p>
       <span class="bold">Borders</span> go around the <span class="ital">edges</span> of the element.
    </p>
      
    <p>
       <span class="bold">Padding</span> is the space <span class="ital">around the contents </span> of your element. For example, you could set padding on a div to give some room around the paragraphs set inside of it.
    </p>
      
    <p>
      As with photographs, there are conventions to follow in setting elements on your webpage. Text is generally easier to read if there is some space around it (note also the indentation best-practices for coding). User experience will be more pleasant if images and other blocks of stuff are not just piled on the screen without any gaps.             
    </p>    

    <img class="left-img" alt="grandma in uniform" src="../../public/images/grandma.jpg">
    <p>e
      Also, as there are with photographs, I imagine there are exceptions to those conventions. 
    </p>

    <p>
      This is a picture of my grandmother in her Coast Guard uniform during World War II. There's a frame but no padding (matting) and this one doesn't hang on the wall; it sits on my bookshelf. You'll often see family photos, especially candid shots, displayed this way. It's a lot less formal. 
    </p>

    <p>
      The only similar idea I can think of in terms of web design would be a page that's <span class="ital">intended</span> to create an emotional reaction in the viewer. Something like the image below. This picture has a lot going on. There are elements stacked on top of one another and some run out of their frame and onto the background. But it doesn't look terrible. It's exciting and draws you in to the content...which appears to be in French so I have no idea what they're doing (I <span class="bold">know</span> I can translate it; I just haven't found the actual page yet, only this image of it!)
    </p>
      
    <img class="right-img" alt="image of busy webpage" src="https://cdn.idevie.com/wp-content/uploads/2014/01/7aa72_tutorials_toucouleure_artistic_websites.jpg">

    <p>
      To summarize: it's a good idea to have space around the content of your webpages. In general, it'll look cleaner and it will be easier to read and understand. If you deviate from these best-practices, do it on purpose.
    </p>
  </div>

</div>